/* ----------------------------- bases CSS ------------------------------- */

#list {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

#fieldset-container {
    padding-top: 4vw;
    padding-bottom: 6vw;
    border-radius: 0 0 3% 3%;
}

button {
    background-color: #69585F;
    color: #FFE1BB;
    border: none;
    font-size: 1.5vw;
    font-stretch:ultra-expanded;
}

label{
   
    font-size: 1.8vw;
  
}

input {
    margin-right: 3vw;
    margin-left: 4vw;
}

header {
    text-align: center;
    background-color: #69585F;
}

footer {
    text-align: end;
    background-color: #69585F;
    
    
}

nav {

    height: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 1.8vw;
    font-stretch: expanded;
    font-weight: 700;
    /* margin-bottom: 5vw; */
}


h1, h2 {
    padding: auto;
    font-size: 4vw;
    padding: 2vw;
    color:#FFE1BB ;
}

body {
    
    background-attachment: white;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'roboto';
    background-image: url('images/fleur.png');
}

main {
    margin: auto;
    width: 90vw;
    background-color: #F8F7F3;
    background-image: url('images/back.png');
     
}

fieldset {
    border: none;
    line-height: 5vw;
    margin-left: 3vw;
    border-radius: 5% 5% 5% 5%;
}

fieldset > * {
    margin-bottom: 3vw;
}

input{
    transform: scale(2);
}

/*---------------------------------------- GENERIC CLASSES ----------------------------------------- */


/* generic class - flexbox - row */
.is-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* generic class - auto margin */
.is-margin-auto {
    margin: 0 auto;
    width: 80vw;
}

/* generic class : font family roboto */
.is-roboto {
    font-family: 'roboto';
}

/* generic class : bg color */
.has-bg-green {
    background-color: #69585F;
}

/* generic class : text color */
.has-text-primary {
    color : #D9DBBC;
}


/* generic class : bg color 2  */
.has-bg-primary {
    background-color: #FFE1BB ;
}



/* -------------------- MEDIA QUERIES : Tablet responsive --------------------------------- */
@media screen and (max-width: 820px) {

   

    button {
        font-size: 4vw;
        padding: 4vw;
    }

    nav {
        text-align: center;
        padding: 4vw;
        margin-bottom: 3vw;
    }

    span {
        display: none;
    }

    
    
    fieldset {
        padding-top: 5vw;
        border: none;
        line-height: 7vw;
        margin-left: 0vw;
        padding-left: 3vw;
    
    }

    #fieldset-container {
        border-radius: 3% 3% 3% 3%;
    }

    fieldset > * {
        margin-bottom: 6vw;
    }

    #button-container{
        width: 100%;
      }

    button {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 1px solid black;
        width: 100%;
        background-color: #F8F7F3 ;
        color: black;
        margin-bottom: 2vw;
    }

    input{
        transform: scale(2);
        width: auto;
       
    }

    label {
        width: 50vw;
        font-size: 4vw;
    }

    footer {
        text-align: center;
    }

    .is-mobile-font-title {
        font-size: 5vw;
        height: auto;
    }

    .is-mobile-font-subtitle {
        font-size: 3vw;
        height: auto;
    }

    .is-mobile-flex {
        display: flex;
        flex-direction: column;
    }

    .is-mobile-line-height {
        line-height: 10vw;
        margin-left: 0;
    }

   
}


/* ---------------------------MEDIA QUERIES : MOBILE RESPONSIVE ------------------------------------- */
@media screen and (max-width: 390px){

    input{
        transform: scale(3);
        margin-right: 5vw;
    }

    #button-container{
      width: 100%;
    }
    
    button {
        
        height: 20vw;
        font-size: 10vw;
        border-radius: 0;
        text-align: left;
        
        
    }

    nav {
        margin-bottom: 5vw;
        border-radius: 3% 3% 3% 3%;
    }

    fieldset{
        line-height: 10vw;
        margin-top: 2vw;
        margin-bottom: 5vw;

    }

    fieldset > * {
        margin-bottom: 8vw;
    }

    label {
        font-size: 5vw;
    }
}

